*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	width: 100%;
	height: 100%;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
	background-color: inherit;
}
